{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'provider/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nro</th>
        <th scope="col" style="width: 15%;">Nombres</th>
        <th scope="col" style="width: 15%;">Apellidos</th>
        <th scope="col" style="width: 10%;">Cédula</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}
 {% block buttons_list %}
                <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest">
                    <i class="fas fa-plus"></i> Nuevo registro
                </a>
              <!--  <a href="{{ list_url }}" class="btn btn-success btn-flat">
                    <i class="fas fa-sync"></i> Actualizar
                </a> -->
            {% endblock %}
{% block javascript %}

{% endblock %}